@import url(../../node_modules/normalize.css/normalize.css);

body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  line-height: 145%;
}

body.lock {
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #fffcec 0%, #ffffff 100%) no-repeat;
}

.content {
  max-width: 85%;
  margin: 0 auto;
}

.shadow {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.page {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  background-color: #fff;
}

.header {
  position: fixed;
  width: 85%;
  z-index: 10;
}

main {
  padding-top: 70px;
}

.menu {
  min-height: 70px;
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
}

.menu .menu__list {
  width: 100%;
  padding: 0px 0px 0px 0px;
}

.menu .menu__link {
  font-weight: 500;
  font-size: 18px;
  color: #454545;
  transition: color 0.3s;
}

.menu .menu__link:hover {
  color: #1d8bdb;
  transition: color 0.3s;
  padding-bottom: 3px;
  border-bottom: 2px solid #1d8bdb;
}

.menu .menu__icon {
  display: none;
}

.menu__after {
  height: 2px;
  background: #efefef;
  width: 100%;
}

.search {
  padding-top: 35px;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search .logo {
  margin-left: 16px;
  cursor: pointer;
}

.search .search__fild {
  position: relative;
  width: 33.3333%;
}

.search .search__fild img {
  position: absolute;
  margin-left: 10px;
  margin-top: 25px;
  transform: translate(0px, -50%);
  pointer-events: none;
}

.search .search__fild input {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #454545;
  text-indent: 15%;
  outline: 0;
}

.search .search__fild input::-webkit-search-cancel-button {
  padding-right: 7px;
}

.search .search__fild input::-webkit-input-placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #454545;
}

.search .search__fild input::-moz-placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #454545;
}

.search .search__info {
  display: flex;
  flex-direction: column;
}

.search .search__info p {
  font-size: 18px;
  font-weight: 500;
  line-height: 145%;
  color: #454545;
  margin: 0;
}

.search .search__info :last-child {
  margin-top: 10px;
}

.page__navigation {
  width: 33.333%;
}

.page__navigation .navigation__item {
  width: 100%;
  background: #fcfcfc;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0px 0px 15px 15px;
}

.page__navigation .navigation__title {
  background: #ffffff;
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.page__navigation .navigation__title-link {
  background: #ffffff;
}

.page__navigation .navigation__title-link a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.page__navigation .navigation__title-link .navigation__arrow {
  transform: rotate(90deg);
}

.page__navigation .navigation__title-link .navigation__arrow::before,
.page__navigation .navigation__title-link .navigation__arrow::after {
  margin-top: 15px;
  margin-right: -15px;
}

.page__navigation h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #454545;
  margin: 0;
  max-width: 75%;
  text-align: center;
}

.page__navigation .navigation__arrow::before,
.page__navigation .navigation__arrow::after {
  content: "";
  width: 14px;
  height: 3px;
  background-color: #454545;
  position: absolute;
  cursor: pointer;
  transition: 0.2s;
}

.page__navigation .navigation__arrow::before {
  transform: rotate(40deg);
  right: 5px;
}

.page__navigation .navigation__arrow::after {
  transform: rotate(-40deg);
  right: 13px;
}

.page__navigation .navigation__content {
  width: 100%;
  height: 100%;
}

.page__navigation .navigation__title.closed {
  border-bottom: 0px;
}

.page__navigation .navigation__title.closed + .navigation__content {
  height: 0px;
}

.page__navigation .navigation__title.closed + .navigation__content ul {
  display: none;
}

.page__navigation .navigation__title.closed .navigation__arrow::before {
  transform: rotate(-40deg);
  right: 5px;
}

.page__navigation .navigation__title.closed .navigation__arrow::after {
  transform: rotate(40deg);
  right: 13px;
}

.page__navigation .navigation__content a {
  font-size: 18px;
  line-height: 145%;
  color: #454545;
  margin-bottom: 15px;
}

.page__navigation .navigation__content li {
  margin-bottom: 15px;
}

.page__navigation .navigation__content a:hover {
  color: #1d8bdb;
  transition: 0.3s;
}

.page__right {
  max-width: 63%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.page__right .page__main {
  max-width: 100%;
  background: #f8fafd;
  min-width: 0;
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
}

.page__right .page__main .page__info {
  max-width: 55%;
  margin-right: 1%;
}

.page__right .page__main h2 {
  margin: 20px 0px 0px 30px;
  font-weight: 600;
  font-size: 28px;
  line-height: 145%;
  color: #454545;
}

.page__right .page__main p {
  margin: 20px 0px 0px 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  color: #454545;
}

.page__right .page__main .page__btn {
  width: 191px;
  height: 50px;
  background: #1d8bdb;
  border-radius: 5px;
  border: none;
  margin: 90px 0px 30px 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  color: #ffffff;
}

.page__right .page__main .page-slider {
  max-width: 45%;
  position: relative;
  overflow: hidden;
}

.page__right .page__main .page-slider .page-slider__slide {
  min-width: 100%;
  height: 100%;
}

.page__right .page__main .page-slider .page-slider__slide img {
  min-width: 100%;
  height: 100%;
}

.page__right .page__main .page-slider .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #1d8bdb;
  opacity: 1;
}

.page__right .page__main .page-slider .swiper-pagination-bullet-active {
  background: #ffffff;
  border: 2px solid #1d8bdb;
  box-sizing: border-box;
}

.page__right .products .products__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 3% 0px 2%;
}

.page__right .products .products__title a {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #454545;
}

.page__right .products .products__title h3 {
  font-weight: 500;
  font-size: 26px;
  line-height: 145%;
  color: #454545;
}

.page__right .products .products__title .arrow__right {
  border: solid #454545;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 1.5px;
  margin-left: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.page__right .products .products__list {
  display: flex;
  justify-content: space-around;
}

.page__right .products .products__item {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 5px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.page__right .products .products__item:hover {
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(188, 188, 188, 0.25);
  transition: 0.3s;
}

.page__right .products .products__item:hover p {
  color: #1d8bdb;
  transition: 0.3s;
}

.page__right .products .products__item img {
  max-width: 100%;
}

.page__right .products .products__item p {
  text-align: left;
  margin: 15px 0px 0px 0px;
  padding: 0px 5% 5px 5%;
  max-width: 95%;
  word-wrap: break-word;
}

.page__right .products__news {
  max-width: 95%;
}

.page__right .products__news .products__list {
  flex-direction: column;
}

.page__right .products__news .products__item {
  width: 100%;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: space-around;
  position: relative;
  align-items: start;
}

.page__right .products__news .arrow__right {
  border: solid #454545;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 1.5px;
  margin-left: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.page__right .products__news .products__item p {
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  color: #454545;
  margin-bottom: 20px;
}

.page__right .products__news .news__right a {
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  color: #454545;
  display: inline-block;
  margin-bottom: 20px;
}

.page__right .products__news .products__item h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 145%;
  color: #454545;
  margin: 20px 0px 20px 0px;
}

.page__right .products__news .news__left img {
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

.page__right .products__news .news__left {
  width: 200px;
  height: 200px;
  margin: 0px 10px 0px 10px;
  position: relative;
}

.page__right .products__news .news__right {
  position: relative;
  width: 65%;
}

.footer {
  padding-top: 100px;
  background: #fff;
}

.footer .footer__content {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.footer .footer__medias {
  display: flex;
  margin-left: 2%;
  align-items: center;
  flex-direction: column;
}

.footer .footer__socials {
  margin-top: 30px;
}

.footer .footer__socials h3 {
  text-align: center;
}

.footer .footer__socials img {
  margin-top: 10px;
  margin-right: 7px;
}

.footer .footer__nav {
  margin: 0px 2%;
}

.footer .footer__nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.footer .footer__nav ul li {
  width: 33.333%;
  margin-bottom: 20px;
}

.footer .footer__nav ul a:hover {
  color: #1d8bdb;
  transition: color 0.3s;
  padding-bottom: 3px;
  border-bottom: 2px solid #1d8bdb;
}

.footer .footer__nav ul a {
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  color: #454545;
}

.footer .footer__info {
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  color: #454545;
  margin-top: 10px;
  margin-right: 2%;
}

.footer .footer__info p {
  margin: 0px 0px 15px 0px;
}

.footer .footer__privacy {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  color: #454545;
}

.prod {
  width: 63%;
  max-height: 100%;
  margin: 0px 2% 0px 2%;
}

.prod .prod__main {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.prod .prod__main .prod__title {
  width: 50%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prod .prod__main .prod__title h3 {
  font-weight: 500;
  font-size: 26px;
  line-height: 145%;
  color: #454545;
  max-width: 100%;
  margin: 0;
}

.prod .prod__main .prod__title .prod__price h3 {
  font-size: 24px;
  width: 75%;
}

.prod .prod__main .prod__title .prod__price p {
  font-weight: 500;
  font-size: 36px;
  line-height: 145%;
  color: #1d8bdb;
}

.prod .prod__main .prod__title .prod__price button {
  width: 75%;
  height: 50px;
  background: #1d8bdb;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  color: #ffffff;
}

.prod .prod__main .prod-slider {
  width: 380px;
  overflow: hidden;
}

.prod .prod__main .prod-slider .prod-slider__wrapper .prod-slider__slide {
  max-width: 380px;
  max-height: 380px;
}

.prod .prod__main .prod-slider .prod-slider__wrapper .prod-slider__slide img {
  width: 100%;
}

.prod .prod__main .prod-slider .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #1d8bdb;
  opacity: 1;
}

.prod .prod__main .prod-slider .swiper-pagination-bullet-active {
  background: #ffffff;
  border: 2px solid #1d8bdb;
  box-sizing: border-box;
}

.prod .prod__main .prod-slider .swiper-button-next:after,
.prod .prod__main .prod-slider .swiper-button-prev:after {
  font-size: 16px;
  font-weight: bold;
  color: #1d8bdb;
  padding: 5px 7px 5px 7px;
  border: 3px solid #1d8bdb;
  border-radius: 100%;
  text-align: center;
}

.prod .prod__main .prod-slider .swiper-button-disabled {
  opacity: 0;
  transition: 0.3s;
}

.prod .prod__lined {
  padding-bottom: 5px;
  border-bottom: 4px solid #ffd80c;
}

.prod .prod__sublined {
  padding-bottom: 5px;
  border-bottom: 2px solid #1d8bdb;
}

.prod h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 145%;
  color: #454545;
  margin: 0;
}

.prod .prod__character {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 95%;
  margin: 50px 2% 0px 2%;
}

.prod .prod__character h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 145%;
  color: #454545;
  width: 380px;
  margin: 0;
}

.prod .prod__character ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: flex-start;
}

.prod .prod__character ul p {
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  color: #454545;
  margin: 0;
}

.prod .prod__character ul li {
  width: 22%;
  margin-right: 3%;
  margin-bottom: 30px;
}

.prod .prod__character ul .prod__character-tline {
  width: 47%;
  margin-right: 3%;
}

.prod .prod__options {
  max-width: 95%;
  margin: 50px 2% 0px 2%;
}

.prod .prod__options h3 {
  margin-bottom: 30px;
}

.prod .prod__options img {
  margin-right: 5px;
}

.prod .prod__options p {
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  color: #454545;
}

.prod .prod__options .prod__descrip {
  margin-top: 50px;
}

.modal {
  font-family: Inter;
  font-style: normal;
  line-height: 145%;
  font-size: 20px;
}

main.modal__content {
  padding-top: 0px;
}

.modal__input {
  margin-top: 40px;
  width: 100%;
  height: 50px;
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #454545;
  text-indent: 2%;
  outline: 0;
}

.modal__input-coment {
  word-wrap: break-word;
  height: 150px;
  resize: none;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border: 1px solid #efefef;
  border-radius: 5px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__footer {
  display: flex;
  justify-content: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  color: #1d8bdb;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal__btn {
  width: 75%;
  height: 50px;
  background: #1d8bdb;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  color: #fff;
}

.modal__btn:focus,
.modal__btn:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.modal__btn-primary {
  background-color: #1d8bdb;
  color: #fff;
}

/**************************\
	Demo Animation Style
 \**************************/

@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes mmslideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  -webkit-animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  -webkit-animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  -webkit-animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

@media (min-width: 767px) {
  .menu .menu__body {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .menu .menu__list {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 1280px) {
  .page__right .page__main {
    flex-direction: column;
  }

  .page__right .page__main .page__info {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .page__right .page__main .page-slider {
    max-width: 85%;
  }

  .page__right .page__main .page__btn {
    margin-top: 50px;
  }
}

@media (max-width: 1200px) {
  .page__navigation h3 {
    font-size: 16px;
    max-width: 60%;
  }

  .page__navigation h3 {
    font-size: 14px;
    max-width: 60%;
  }
}

@media (max-width: 1024px) {
  .menu .menu__link {
    font-size: 14px;
  }

  .search .logo {
    width: 230px;
  }

  .search .search__info p {
    font-size: 14px;
  }

  .footer .footer__nav ul a {
    font-size: 14px;
  }

  .footer .footer__info {
    font-size: 14px;
  }

  .logo {
    width: 230px;
  }

  .footer__socials h3 {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .prod .prod__main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .prod .prod__main .prod__title {
    margin-top: 30px;
  }

  .prod .prod__main .prod__title h3 {
    margin-bottom: 20px;
  }

  .prod .prod__character {
    width: 100%;
  }

  .prod .prod__character ul p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .page {
    flex-direction: column;
    align-items: center;
  }

  .menu .menu__icon {
    display: block;
    position: relative;
    z-index: 5;
    cursor: pointer;
    width: 30px;
    height: 18px;
    margin-left: 15px;
  }

  .menu .menu__icon::after,
  .menu .menu__icon::before,
  .menu .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: 0.3s;
    background-color: #454545;
  }

  .menu .menu__icon::after,
  .menu .menu__icon::before {
    content: "";
  }

  .menu .menu__icon::after {
    bottom: 0;
  }

  .menu .menu__icon::before {
    top: 0;
  }

  .menu .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu .menu__icon.active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu .menu__icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu .menu__icon.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu .menu__body {
    position: fixed;
    z-index: 4;
    top: 0;
    left: -120%;
    width: 100%;
    height: 100%;
    background-color: #fdfdfd;
    opacity: 0.9;
    padding: 100px 30px 30px 30px;
    transition: left 0.3s;
    overflow: auto;
  }

  .menu .menu__body.active {
    left: 0;
  }

  .menu .menu__items {
    margin-bottom: 30px;
    margin-left: 5%;
  }

  .menu .menu__link {
    font-size: 20px;
  }

  .search {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .search .logo {
    width: 309px;
    margin-bottom: 30px;
  }

  .search .search__info {
    flex-direction: row;
    width: 85%;
    justify-content: space-around;
  }

  .search .search__info :last-child {
    margin-top: 0px;
  }

  .search .search__fild {
    width: 309px;
    margin-bottom: 30px;
    margin-left: 30px;
  }

  .search .search__info p {
    font-size: 16px;
  }

  .page__navigation {
    width: 85%;
  }

  .page__right {
    max-width: 95%;
  }

  .page__right .page__main {
    margin: 0;
    width: 100%;
  }

  .page__right .page__main .page-slider {
    max-width: 100%;
  }

  .page__right .page__main .page-slider .page-slider__slide img {
    width: 100%;
  }

  .page__right .products__news .products__item {
    flex-direction: column;
    align-items: center;
  }

  .page__right .products__news .news__right {
    width: 95%;
  }

  .page__right .products__news .news__right h4 {
    text-align: center;
  }

  .page__right .products .products__title h3 {
    font-size: 20px;
  }

  .page__right .products .products__list {
    flex-direction: column;
    align-items: center;
  }

  .page__right .products .products__item {
    width: 85%;
    margin-bottom: 25px;
  }

  .footer .footer__content {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  .footer .footer__info {
    font-size: 16px;
  }

  .footer .footer__nav {
    margin-top: 30px;
    margin-left: 20%;
    max-width: 75%;
    display: flex;
    justify-content: center;
  }

  .footer .footer__nav ul a {
    font-size: 16px;
  }

  .footer .footer__nav ul li {
    width: 50%;
  }

  .prod {
    width: 100%;
  }

  .prod .prod__character h3 {
    max-width: 97%;
  }

  .prodmain .page__navigation {
    order: 1;
    margin-top: 30px;
  }

  .modal__container {
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .prod .prod__character ul li {
    width: 47%;
    margin-right: 3%;
  }

  .prod .prod__character ul .prod__character-tline {
    width: 97%;
    margin-right: 0;
  }

  .prod .prod__main .prod-slider {
    width: 280px;
  }

  .prod .prod__main .prod-slider .prod-slider__wrapper .prod-slider__slide {
    max-width: 280px;
    max-height: 280px;
  }
}

@media (max-width: 460px) {
  .search .logo {
    width: 250px;
    margin-left: 0px;
  }

  .search .search__fild {
    width: 250px;
    margin-left: 0px;
  }

  .search .search__info {
    flex-direction: column;
    justify-content: center;
  }

  .search .search__info p {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .footer .footer__socials img {
    margin-right: 5px;
  }
}

@media (max-width: 360px) {
  .prod .prod__main .prod-slider {
    width: 230px;
  }

  .prod .prod__main .prod-slider .prod-slider__wrapper .prod-slider__slide {
    max-width: 230px;
    max-height: 230px;
  }
}